{% extends 'base.html' %} {% block content %}
<div class="">
  <div class="container">
    <h1 class="text-slate-300">Add New Product</h1>

    <form method="POST" class="text-slate-200">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table">
          {{ form.as_table }}
          <tr>
            <td></td>
            <td>
              <button type="submit" class="btn btn-primary">Add Product</button>
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</div>
{% endblock %}
