{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">My Reading List</h1>
<!-- 
        <div class="row mt-3">
            <div class="col-md-4">
                <h5>Book Name:</h5>
                <p>{{ book_name }}</p>
            </div>
            <div class="col-md-4">
                <h5>Author:</h5>
                <p>{{ total_pages }}</p>
            </div>
            <div class="col-md-4">
                <h5>About This Book:</h5>
                <p>{{ description }}</p>
            </div>
        </div> -->

        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Author</th>
                    <th>Total Pages</th>
                    <th>Date Published</th>
                    <th>Description</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.book_name }}</td>
                        <td>{{ product.author }}</td>
                        <td>{{ product.total_pages }}</td>
                        <td>{{ product.date_published }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.date_added }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mt-4">
            <a href="{% url 'main:create_product' %}" class="btn btn-primary">
                Add New Product
            </a>
        </div>

        <div class="mt-4">
            <h5>Sesi terakhir login: {{ last_login }}</h5>
            <a href="{% url 'main:logout' %}" class="btn btn-danger">
                Logout
            </a>
        </div>
    </div>
{% endblock content %}
